.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;

  .firstLineContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h2 {
      font-size: 2.5rem;
      line-height: 48px;
      font-weight: 800;
    }
  }

  .staffItems {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-top: -50px;

    .infoContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .txtName {
        color: #000;
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 28.8px;
        margin-bottom: 20px;
      }

      .info {
        color: #000;
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 28.8px;
        width: 87%;
      }

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center top;
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 0px) {
  .container {
    padding: 0 20px;
    .staffItems {
      flex-direction: column;
      gap: 50px;
      align-items: normal;
      .info {
        span {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    .staffItems {
      flex-direction: row;
      gap: 20px;
      align-items: start;
      .info {
        span {
          display: inline;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
    .staffItems {
      gap: 50px;
    }
  }
  
}